%section.page-title
  .page-title-square
  %h2.page-title-header
    - if @user.full_name.size > 1
      = @user.full_name
    - else
      = @user.email
  .page-title-controls
    = link_to "(view profile)", user_profile_path(@user, @user.profile)
    = link_to "(back)", users_path

%section#user.content
  %h1 User Feed Goes Here