// Users
#user-profile {

  ul {

    section.avatar {

      li {

        img {
          @include span-columns(4,6);
          max-width: 150px;
        }
      }
    }// avatar

    section.bio {

      li {

        p {
          margin-top: 0;
          font-family: 'EB Garamond', serif;
        }
      }
    }// bio
  }

}

#users {
  // .invite {
  //   @include span-columns(12, 12);
  // }
}
